<div class="jumbotron jumbotron-fluid">
  <div class="container">
	<h1>Welcome to Cube Deck</h1>
	<h4>A membership site where small business owners, for profit, and non-for profit organizations can meet developers.</h4>
   </div>
</div>